<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO活動訂票網</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="page-home">
      <section class="container pt-3  pt-sm-5">
        <h2
          class="d-flex align-items-center justify-content-between py-4 px-5 mb-4 mb-sm-5 fs-5 fs-sm-1 border border-2 border-sm-3">
          EVENT<span class="fs-base fs-sm-4 fw-bold">所有活動</span></h2>

        <div class="tagGroup d-flex flex-wrap fw-bold display-7 mt-1 mb-2 mt-sm-3 mb-sm-5">
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">演出</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">音樂</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">舞蹈</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">戲劇</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">音樂會</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">課程演講</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">社群活動</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">展覽</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">研討會</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">電影</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">電音派對</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">遊戲競賽</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">親子</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">藝文活動</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">運動</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">交通旅遊</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">美食</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">資訊科技</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">聯誼</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">戶外</a>
          <a class="border border-1 py-base px-sm-4 px-3 me-1 mb-1">線上活動</a>
        </div>

        <section class="recent">
          <ul class="list-unstyled row">
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">19 MAY 2023</date>
              <a href="#" class="imgBox d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true">
              </a>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">邪典電影派對——房間</a>
              <p class="mb-3 ellipsis-3">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">社群活動</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">23 MAY 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">怪舞俱樂部</a>
              <p class="mb-3 ellipsis-3">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
              </p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">社群活動</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">30 MAY 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">哈利波特馬拉松</a>
              <p class="mb-3 ellipsis-3">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
              </p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">社群活動</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">12 June 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">皮卡丘排球大賽</a>
              <p class="mb-3 ellipsis-3">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
              </p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">社群活動</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">25 June 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">酒精路跑</a>
              <p class="mb-3 ellipsis-3">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
              </p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">社群活動</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">9 July 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">展覽——我的房間</a>
              <p class="mb-3 ellipsis-3">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">社群活動</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">19 MAY 2023</date>
              <a href="#" class="imgBox d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/07.jpg?raw=true">
              </a>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">野營音樂祭</a>
              <p class="mb-3 ellipsis-3">喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">演出</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">19 MAY 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/08.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">疊疊樂大賽</a>
              <p class="mb-3 ellipsis-3">來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">遊戲競賽</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">18 MAY 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">返老還童-制服聯誼</a>
              <p class="mb-3 ellipsis-3">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">聯誼</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">19 MAY 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/10.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">野外求生17天</a>
              <p class="mb-3 ellipsis-3">野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
              </p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">戶外</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">19 MAY 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/11.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">耳熟能詳音樂祭</a>
              <p class="mb-3 ellipsis-3">對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">演出</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
            <li class="col-lg-4 col-md-6">
              <date class="fs-4 fs-lg-3 pb-base pb-sm-2 border-bottom border-3">19 MAY 2023</date>
              <div class="imgBox  d-block hover mt-3 mt-sm-2"><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/12.jpg?raw=true">
              </div>
              <a href="#" class="fs-lg-5 display-6 my-1 my-sm-2 fw-bold d-block hoverText">野營發呆大賽</a>
              <p class="mb-3 ellipsis-3">你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！
              <div class="d-flex justify-content-between fw-bold border-top border-bottom border-2 py-1 py-sm-2">
                <div class="d-flex social align-items-center">
                  <div class="imgBox me-base"><img
                      src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true">
                  </div> <a href="#">遊戲競賽</a>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                  class="sell d-flex align-items-center btn p-0 fw-bold">開賣中<i
                    class="icofont-rounded-double-right ms-base"></i></button>
              </div>
            </li>
          </ul>
        </section>

        <section class="pageNav mt-5 mb-6 my-sm-7">
          <ul class="list-unstyled d-flex align-items-strech justify-content-center flex-wrap">
            <li class="me-1"><button type="button" class="border border-1 btn fw-bold p-2 "><i
                  class="icofont-arrow-left"></i></button></li>
            <li class="me-1"><button type="button" class="border border-1 btn fw-bold py-1 px-3">1</button></li>
            <li class="me-1"><button type="button" class="border border-1 btn fw-bold py-1 px-3 active">2</button>
            </li>
            <li class="me-1"><button type="button" class="border border-1 btn fw-bold py-1 px-3">3</button></li>
            <li class="me-1"><button type="button" class="border border-1 btn fw-bold py-1 px-3">4</button></li>
            <li class="me-1"><button type="button" class="border border-1 btn fw-bold py-1 px-3">5</button></li>
            <li><button type="button" class="border border-1 btn fw-bold p-2"><i
                  class="icofont-arrow-right"></i></button></li>
          </ul>
        </section>


      </section>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>